# MongoDB Atlas Connection String
# Format: mongodb+srv://<user>:<pass>@<cluster>.mongodb.net/<db>?retryWrites=true&w=majority
MONGODB_URL="mongodb+srv://benedictisaac258:BenedictIsaac@cluster0.vxpzdh0.mongodb.net/cight?retryWrites=true&w=majority"